/*========================================== MENU ==========================================*/

.navbar {
    background-color: #6d7071;
    color: #fff;
}
#navbarContent .navbar-nav .nav-item .nav-link {
    color: #d2d2d2;
}
#navbarContent .navbar-nav .nav-item .nav-link:hover,
#navbarContent .navbar-nav .nav-item .nav-link:active {
    color: #fff;
}
.megamenu:hover > .dropdown-menu {
    display: block;
}
.megamenu {
    position: static;
}
.megamenu .dropdown-menu {
    background: none;
    border: none;
    width: 100%;
}
.dropdown-menu .col-lg-6 h6,
.dropdown-menu .col-lg-6 p {
    color: #424242;
}
.dropdown-menu a:hover,
.dropdown-menu a:hover,
.dropdown-menu a:hover h6,
.dropdown-menu a:hover p,
.dropdown-menu a h6:hover,
.dropdown-menu a p:hover {
    color: #ff6d00;
    text-decoration: none;
}
.display-mobile {
    display:none;
}
.nav-product-img {
    max-width: 150px;
    width: 100%;
}
p {
    font-size:14px;
}
.form-inline .form-control {
    border-radius: .25rem 0 0 .25rem;
}
.form-inline .btn-primary,
.form-inline .btn-primary:not(:disabled):not(.disabled).active, 
.form-inline .btn-primary:not(:disabled):not(.disabled):active, 
.form-inline .show > .btn-primary.dropdown-toggle {
    background-color: #ff6d00;
    border-color: #ff6d00;
    border-radius: 0 .25rem .25rem 0;
    height: calc(1.5em + .75rem + 2px);
}
.form-inline .btn-primary svg {
    display:block;
}

/*========================================== CONTENT ==========================================*/

header img {
    width:100%;
}
body {
    min-height: 100vh;
}
section img{
    width:100%;
    height:100%;
}

/*========================================== RESPONSIVE  ==========================================*/

.navbar-toggler {
    border: transparent;
    height: 2em;
}
.navbar-toggler img{
    display:block;
}
@media only screen and (max-width: 1000px) {
    .product-img {
        display: none;
    }
    .dropdown-menu h1 {
        font-size: 16px;
    }
    .megamenu:hover > .dropdown-menu,
    .dropdown-menu.show,
    .dropdown-toggle::after,
    .nav-link.dropdown-toggle {
        display: none !important;
    }
    .display-mobile,
    .display-mobile:hover {
        display:block;
        color: #fff;
        text-decoration: none;
        font-weight: 700 !important;
        text-transform: uppercase !important;
        display: block !important;
    }
    .form-control {
        width: auto;
    }
    
  }
